@use "@ardc-ui/react/styles/functions" as *;
@use "@ardc-ui/react/styles/variables" as *;
@use "@ardc-ui/react/styles/typography" as ardc;
@use "mixins" as *;

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: $spacing-4;
  min-height: 100vh;
  min-height: 100dvh;
  padding: $spacing-6;
  text-align: center;
}

.heading {
  @include ardc.text-style(h2);
}

.message {
  @include ardc.text-style(body-16);
  max-width: pxToRem(400);
}
