@use "@ardc-ui/react/styles/variables" as *;
@use "mixins" as *;

@mixin action-buttons {
  display: flex;
  gap: $spacing-3;
  flex-wrap: wrap;

  > * {
    flex: 1;
    justify-content: center;
  }

  @include respond-below(sm) {
    flex-direction: column;
  }
}

@mixin nav-actions {
  display: flex;
  flex-direction: column;
  gap: $spacing-6;
}

@mixin start-over {
  display: flex;
  justify-content: center;
}
