@use "@ardc-ui/react/styles/variables" as *;
@use "mixins" as *;

.skip-link {
  position: absolute;
  left: -9999px;
  top: 0;
  z-index: 1000;
  padding: pxToRem(8) pxToRem(16);
  background: $color-black;
  color: $color-white;
  text-decoration: none;
  font-weight: 600;

  &:focus {
    left: 0;
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  scroll-margin-top: pxToRem(92);
}
