@use "@ardc-ui/react/styles/functions" as *;
@use "@ardc-ui/react/styles/variables" as *;
@use "mixins" as *;

.skip-link {
  position: absolute;
  left: -9999px;
  top: 0;
  z-index: 1000;
  padding: $spacing-2 $spacing-4;
  background: $neutral-gray-900;
  color: $neutral-white;
  text-decoration: none;
  font-weight: $font-weight-semibold;

  &:focus {
    left: 0;
  }
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-block: $spacing-16;
  background-color: $neutral-gray-50;
  scroll-margin-top: pxToRem(92);

  @include respond-below(md) {
    padding-block: $spacing-8;
    scroll-margin-top: pxToRem(80);
  }
}
