@use "@ardc-ui/react/styles/functions" as *;
@use "@ardc-ui/react/styles/variables" as *;
@use "mixins" as *;

.info {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $spacing-6;
  text-align: center;

  h2 {
    font-size: pxToRem(20);
    margin: 0;

    &:focus {
      outline: none;
    }
  }
}

.icon {
  width: pxToRem(48);
  height: pxToRem(48);
}

.icon-success {
  color: $secondary-green-500;
}

.icon-danger {
  color: $system-red-500;
}

.requirements-group {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
}

.requirements {
  li {
    margin-bottom: $spacing-1;
  }
}
