@use "@ardc-ui/react/styles/variables" as *;
@use "mixins" as *;

.info {
  display: flex;
  flex-direction: column;
  gap: $gap-md;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap-lg;
  text-align: center;

  h2 {
    font-size: pxToRem(20);
    margin: 0;

    &:focus {
      outline: none;
    }
  }
}

.icon {
  width: pxToRem(48);
  height: pxToRem(48);
}

.icon-success {
  color: $color-success;
}

.icon-danger {
  color: $color-danger;
}

.requirements-group {
  display: flex;
  flex-direction: column;
  gap: $gap-sm;
}

.requirements {
  li {
    margin-bottom: pxToRem(4);
  }
}
