@use "@ardc-ui/react/styles/functions" as *;
@use "@ardc-ui/react/styles/variables" as *;
@use "mixins" as *;

.timeline {
  border-left: 3px solid rgba($brand-purple-500, 0.25);
  padding-left: $spacing-5;
  margin-left: pxToRem(5);

  @include respond-below(md) {
    padding-left: $spacing-4;
  }
}

.entry {
  position: relative;
  padding-bottom: $spacing-5;

  &::before {
    content: "";
    position: absolute;
    left: calc($spacing-5 * -1 - 1.5px - pxToRem(6));
    top: pxToRem(6);
    width: pxToRem(12);
    height: pxToRem(12);
    border-radius: 50%;
    background-color: $brand-purple-500;
  }

  &:last-child {
    padding-bottom: 0;
  }

  @include respond-below(md) {
    padding-bottom: $spacing-4;

    &::before {
      left: calc($spacing-4 * -1 - 1.5px - pxToRem(6));
    }
  }
}

.question {
  font-style: italic;
  font-weight: $font-weight-semibold;
  margin-bottom: $spacing-1;
}
