@use "@ardc-ui/react/styles/variables" as *;
@use "@ardc-ui/react/styles/typography" as ardc;
@use "mixins" as *;

.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: $spacing-5;
  padding: $spacing-5;
  border: 1px solid $neutral-gray-100;
  border-radius: $border-radius;

  @include respond-to(md) {
    grid-template-columns: 1fr 1fr;
  }
}

.description {
  @include ardc.text-style(body-14);
  margin-top: $spacing-1;
}
