@use "@ardc-ui/react/styles/functions" as *;
@use "@ardc-ui/react/styles/variables" as *;
@use "mixins" as *;
@use "utilities" as *;

.actions {
  @include nav-actions;
}

.feedback {
  @include container;
  margin-top: $spacing-8;
}

.buttons {
  @include action-buttons;

  > * {
    min-width: pxToRem(180);
  }
}

.download-wrapper > * {
  width: 100%;
}

.start-over {
  @include start-over;
}
