@use "@ardc-ui/react/styles/functions" as *;
@use "@ardc-ui/react/styles/variables" as *;
@use "mixins" as *;
@use "utilities" as *;

.disclaimer {
  background-color: rgba($brand-blue-500, 0.1);
  border: 1px solid $brand-blue-500;
  padding: $spacing-3 $spacing-4;
  font-size: $font-size-sm;
}

.actions {
  @include nav-actions;
}

.buttons {
  @include action-buttons;

  > * {
    min-width: pxToRem(180);
  }
}

.download-wrapper > * {
  width: 100%;
}

.start-over {
  @include start-over;
}
