@use "@ardc-ui/react/styles/functions" as *;
@use "@ardc-ui/react/styles/variables" as *;
@use "@ardc-ui/react/styles/typography" as ardc;
@use "mixins" as *;

.footer {
  display: flex;
  flex-direction: column;
  color: $neutral-gray-900;
  break-inside: avoid;
}

// Row 1: Logos, newsletter, links
.main-row {
  padding-block: $spacing-8;
}

.main-grid {
  @include container;
  display: grid;
  gap: $spacing-8;

  @include respond-to(md) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @include respond-to(lg) {
    grid-template-columns: 4fr 5fr 3fr;
  }
}

// Logos column
.logo-column {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
}

.logos {
  display: flex;
  align-items: flex-end;
  gap: $spacing-2;
}

.logos img {
  width: pxToRem(176);
  min-width: 0;
}

.logo-description {
  @include ardc.text-style(body-16);
  width: 62%;
}

// Newsletter column
.newsletter-column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: $spacing-4;
}

.heading {
  @include ardc.text-style(body-18);
  text-transform: uppercase;
}

// Links column
.links-column {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
}

.link-list {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
  list-style: none;
  padding-left: 0;

  a {
    color: $brand-purple-500;
    text-decoration: underline;

    &:hover,
    &:focus {
      color: $neutral-gray-900;
      text-decoration-color: $brand-blue-500;
    }
  }
}

// Row 2: Acknowledgement
.acknowledgement-row {
  background-color: $neutral-gray-50;
}

.acknowledgement {
  @include container;
  @include ardc.text-style(body-16);
  padding-block: $spacing-4;
}

// Row 3: Copyright
.copyright-bar {
  @include container;
  @include ardc.text-style(body-12-muted);
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-block: $spacing-5;

  @include respond-below(md) {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: $spacing-2;
  }
}

.copyright-text {
  margin-right: $spacing-5;

  @include respond-below(lg) {
    margin-right: $spacing-2;
  }
}

.copyright-bar a {
  color: inherit;
  text-decoration: none;

  &:hover,
  &:focus {
    color: $brand-purple-500;
  }
}

.footer-link {
  border-left: 1px solid $neutral-gray-500;
  padding-inline: $spacing-5;

  @include respond-below(lg) {
    padding-inline: $spacing-2;
  }

  @include respond-below(md) {
    border-left: none;
    padding-inline: 0;
  }
}
