@use "@ardc-ui/react/styles/functions" as *;
@use "@ardc-ui/react/styles/variables" as *;
@use "@ardc-ui/react/styles/typography" as ardc;
@use "mixins" as *;

.section {
  display: flex;
  flex-direction: column;
  gap: $spacing-4;
}

.heading {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;

  h2 {
    @include ardc.text-style(h4);
    margin: 0;
  }
}
