@use "@ardc-ui/react/styles/functions" as *;
@use "@ardc-ui/react/styles/variables" as *;
@use "@ardc-ui/react/styles/typography" as ardc;
@use "mixins" as *;

.step-group {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
}

.question-number {
  @include ardc.text-style(body-14);
  margin: 0;
}

.intro-lead {
  @include ardc.text-style(body-18);
}

.intro-note {
  @include ardc.text-style(body-14-muted);
}
