@use "@ardc-ui/react/styles/variables" as *;
@use "mixins" as *;

.step-group {
  display: flex;
  flex-direction: column;
  gap: $gap-sm;
}

.question-number {
  font-size: pxToRem(14);
  color: $color-gray-600;
  margin: 0;
}
