@use "@ardc-ui/react/styles/functions" as *;
@use "@ardc-ui/react/styles/variables" as *;
@use "mixins" as *;

.step-group {
  display: flex;
  flex-direction: column;
  gap: $spacing-2;
}

.question-number {
  font-size: pxToRem(14);
  color: $neutral-gray-700;
  margin: 0;
}
