@use "@ardc-ui/react/styles/variables" as *;
@use "mixins" as *;

.alert {
  background-color: rgba($ardc-blue, 0.1);
  border: 1px solid $ardc-blue;
  padding: pxToRem(12) pxToRem(16);
  font-size: $font-size-sm;
}
