@use "@ardc-ui/react/styles/variables" as *;
@use "@ardc-ui/react/styles/typography" as ardc;
@use "mixins" as *;

.alert {
  @include ardc.text-style(body-14);
  background-color: rgba($brand-blue-500, 0.1);
  border: 1px solid $brand-blue-500;
  padding: $spacing-3 $spacing-4;
}
